<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mobitill.mobitill_2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MobitillApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".apps.AppsActivity">
        </activity>
        <activity android:name=".reports.ReportsActivity">
        </activity>
        <activity android:name=".products.ProductsActivity">
        </activity>

        <service
            android:name=".sync.AppsJobsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.action_execute"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".net.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".cashiers.CashiersActivity">
        </activity>
        <activity android:name=".clients.ClientsActivity">
        </activity>
        <activity android:name=".fleet.FleetActivity">
        </activity>
        <activity
            android:name=".cashiersaddedit.AddEditCashierActivity"
            android:parentActivityName=".cashiers.CashiersActivity">
        </activity>
        <activity android:name=".clientsaddedit.ClientAddEditActivity">
        </activity>
    </application>

</manifest>